
<h2>Viewing property in more detail</h2>

<br>

<h3>Reference number:</h3>
<p><%=@space.id %></p><br>

<h3>Name:</h3>
<p><%=@space.name %></p><br>

<h3>Owner:</h3>
<p><%=@space.owner %></p><br>

<h3>Description:</h3>
<p><%=@space.description %></p><br>

<h3>Price per night:</h3>
<p><%=@space.price_per_night%></p><br>

<h3>Available start date:</h3>
<p><%=@space.available_start %></p><br>

<h3>Available end date:</h3>
<p><%=@space.available_end %></p><br>

<h4>Click to <input type="submit" value="Book"  style="height:40px; width:70px" /></h4>

